*{
  font-family: sans-serif;
}

h1{
  text-align: center;
}


.first-class {
  background-color: crimson;
}

.economic-class {
  background-color: cornflowerblue;
}

.seats {
  display: inline-block;
  width: 200px;
  height: 100px;
  border: 1px solid black;
}
